---
import DocsLayout from '../../layouts/DocsLayout.astro';
---

<DocsLayout title="Getting started" selectedPage="docs">
  <h1 class="text-5xl mb-8">Getting started</h1>
  <article>
  <p>React Hooked is a collection of React Hooks that can be used to build performant and accessible React applications.</p>
  <p>It is a lightweight alternative to the existing React Context API, and provides a simpler and more intuitive way to manage state in your components.</p>
  <p>The hooks are designed to be composable, meaning that you can combine them together to create more complex behaviors.</p>
  <p>Each hook has a corresponding component that provides a more user-friendly interface for common use cases.</p>
  <h2>Installation</h2>
  <p>No installation is required to use React Hooked. You can simply import the hooks you need from the <code>react-hooked</code> package.</p>
  </article>
</DocsLayout>
