body {
  transition: color 0.3s;
}

pre.astro-code {
  padding: 1rem;
}

code {
  counter-reset: step;
  counter-increment: step 0;
}

code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: rgba(115, 138, 148, 0.4);
}

details summary::-webkit-details-marker {
  display: none;
}

.wave {
  clip-path: polygon(
    100% 100%,
    0% 100%,
    0% 80%,
    2% 79.9%,
    4% 79.6%,
    6% 79.12%,
    8% 78.47%,
    10% 77.68%,
    12% 76.78%,
    14% 75.81%,
    16% 74.81%,
    18% 73.82%,
    20% 72.87%,
    22% 72.01%,
    24% 71.27%,
    26% 70.68%,
    28% 70.26%,
    30% 70.04%,
    32% 70.01%,
    34% 70.19%,
    36% 70.56%,
    38% 71.11%,
    40% 71.81%,
    42% 72.65%,
    44% 73.57%,
    46% 74.56%,
    48% 75.56%,
    50% 76.55%,
    52% 77.46%,
    54% 78.28%,
    56% 78.97%,
    58% 79.5%,
    60% 79.84%,
    62% 79.99%,
    64% 79.94%,
    66% 79.69%,
    68% 79.25%,
    70% 78.64%,
    72% 77.89%,
    74% 77.01%,
    76% 76.06%,
    78% 75.06%,
    80% 74.06%,
    82% 73.1%,
    84% 72.22%,
    86% 71.44%,
    88% 70.81%,
    90% 70.35%,
    92% 70.08%,
    94% 70%,
    96% 70.13%,
    98% 70.45%,
    100% 70.95%
  );
}
