---
import CodeBox from './CodeBox.astro';
import { getInstallCommand } from '../utils/package';

interface Props {
  packageNames: string[];
}

const {packageNames} = Astro.props;
---

<section class="flex flex-row flex-wrap m-4 ctp-frappe">
  <input id="tab-npm" type="radio" name="tabs" class="peer/tab-npm opacity-0 absolute" checked />
  <label for="tab-npm" class="peer-checked/tab-npm:bg-ctp-base bg-ctp-surface1 text-ctp-text cursor-pointer p-2 px-4 rounded-t-lg flex flex-row items-stretch gap-2">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128" class="w-6 h-6 "><path fill="#cb3837" d="M2 38.5h124v43.71H64v7.29H36.44v-7.29H2Zm6.89 36.43h13.78V53.07h6.89v21.86h6.89V45.79H8.89Zm34.44-29.14v36.42h13.78v-7.28h13.78V45.79Zm13.78 7.29H64v14.56h-6.89Zm20.67-7.29v29.14h13.78V53.07h6.89v21.86h6.89V53.07h6.89v21.86h6.89V45.79Z"/></svg>
    npm
  </label>

  <input id="tab-yarn" type="radio" name="tabs" class="peer/tab-yarn opacity-0 absolute" />
  <label for="tab-yarn" class="peer-checked/tab-yarn:bg-ctp-base bg-ctp-surface1 text-ctp-text cursor-pointer p-2 px-4 rounded-t-lg flex flex-row items-stretch gap-2">
    <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 518 518" class="w-6 h-6 "><style>.st0{fill:#2c8ebb}.st1{fill:#fff}</style><path class="st0" d="M259 0c143 0 259 116 259 259S402 518 259 518 0 402 0 259 116 0 259 0z"/><path class="st1" d="M435.2 337.5c-1.8-14.2-13.8-24-29.2-23.8-23 .3-42.3 12.2-55.1 20.1-5 3.1-9.3 5.4-13 7.1.8-11.6.1-26.8-5.9-43.5-7.3-20-17.1-32.3-24.1-39.4 8.1-11.8 19.2-29 24.4-55.6 4.5-22.7 3.1-58-7.2-77.8-2.1-4-5.6-6.9-10-8.1-1.8-.5-5.2-1.5-11.9.4C293.1 96 289.6 93.8 286.9 92c-5.6-3.6-12.2-4.4-18.4-2.1-8.3 3-15.4 11-22.1 25.2-1 2.1-1.9 4.1-2.7 6.1-12.7.9-32.7 5.5-49.6 23.8-2.1 2.3-6.2 4-10.5 5.6h.1c-8.8 3.1-12.8 10.3-17.7 23.3-6.8 18.2.2 36.1 7.1 47.7-9.4 8.4-21.9 21.8-28.5 37.5-8.2 19.4-9.1 38.4-8.8 48.7-7 7.4-17.8 21.3-19 36.9-1.6 21.8 6.3 36.6 9.8 42 1 1.6 2.1 2.9 3.3 4.2-.4 2.7-.5 5.6.1 8.6 1.3 7 5.7 12.7 12.4 16.3 13.2 7 31.6 10 45.8 2.9 5.1 5.4 14.4 10.6 31.3 10.6h1c4.3 0 58.9-2.9 74.8-6.8 7.1-1.7 12-4.7 15.2-7.4 10.2-3.2 38.4-12.8 65-30 18.8-12.2 25.3-14.8 39.3-18.2 13.6-3.3 22.1-15.7 20.4-29.4zm-23.8 14.7c-16 3.8-24.1 7.3-43.9 20.2-30.9 20-64.7 29.3-64.7 29.3s-2.8 4.2-10.9 6.1c-14 3.4-66.7 6.3-71.5 6.4-12.9.1-20.8-3.3-23-8.6-6.7-16 9.6-23 9.6-23s-3.6-2.2-5.7-4.2c-1.9-1.9-3.9-5.7-4.5-4.3-2.5 6.1-3.8 21-10.5 27.7-9.2 9.3-26.6 6.2-36.9.8-11.3-6 .8-20.1.8-20.1s-6.1 3.6-11-3.8c-4.4-6.8-8.5-18.4-7.4-32.7 1.2-16.3 19.4-32.1 19.4-32.1s-3.2-24.1 7.3-48.8c9.5-22.5 35.1-40.6 35.1-40.6s-21.5-23.8-13.5-45.2c5.2-14 7.3-13.9 9-14.5 6-2.3 11.8-4.8 16.1-9.5 21.5-23.2 48.9-18.8 48.9-18.8s13-39.5 25-31.8c3.7 2.4 17 32 17 32s14.2-8.3 15.8-5.2c8.6 16.7 9.6 48.6 5.8 68-6.4 32-22.4 49.2-28.8 60-1.5 2.5 17.2 10.4 29 43.1 10.9 29.9 1.2 55 2.9 57.8.3.5.4.7.4.7s12.5 1 37.6-14.5c13.4-8.3 29.3-17.6 47.4-17.8 17.5-.3 18.4 20.2 5.2 23.4z"/></svg>
    yarn
  </label>

  <input id="tab-pnpm" type="radio" name="tabs" class="peer/tab-pnpm opacity-0 absolute" />
  <label for="tab-pnpm" class="peer-checked/tab-pnpm:bg-ctp-base bg-ctp-surface1 text-ctp-text cursor-pointer p-2 px-4 rounded-t-lg flex flex-row items-stretch gap-2">
    <svg class="w-6 h-6" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid meet" viewBox="76.58987244897958 44 164.00775510204068 164" width="160.01" height="160"><defs><path d="M237.6 95L187.6 95L187.6 45L237.6 45L237.6 95Z" id="b45vdTD8hs"></path><path d="M182.59 95L132.59 95L132.59 45L182.59 45L182.59 95Z" id="a40WtxIl8d"></path><path d="M127.59 95L77.59 95L77.59 45L127.59 45L127.59 95Z" id="h2CN9AEEpe"></path><path d="M237.6 150L187.6 150L187.6 100L237.6 100L237.6 150Z" id="dqv5133G8"></path><path d="M182.59 150L132.59 150L132.59 100L182.59 100L182.59 150Z" id="b1Lv79ypvm"></path><path d="M182.59 205L132.59 205L132.59 155L182.59 155L182.59 205Z" id="hy1IZWwLX"></path><path d="M237.6 205L187.6 205L187.6 155L237.6 155L237.6 205Z" id="akQfjxQes"></path><path d="M127.59 205L77.59 205L77.59 155L127.59 155L127.59 205Z" id="bdSrwE5pk"></path></defs><g><g><use xlink:href="#b45vdTD8hs" opacity="1" fill="#f9ad00" fill-opacity="1"></use></g><g><use xlink:href="#a40WtxIl8d" opacity="1" fill="#f9ad00" fill-opacity="1"></use></g><g><use xlink:href="#h2CN9AEEpe" opacity="1" fill="#f9ad00" fill-opacity="1"></use></g><g><use xlink:href="#dqv5133G8" opacity="1" fill="#f9ad00" fill-opacity="1"></use></g><g><use xlink:href="#b1Lv79ypvm" opacity="1" fill="#ffffff" fill-opacity="1"></use></g><g><use xlink:href="#hy1IZWwLX" opacity="1" fill="#ffffff" fill-opacity="1"></use></g><g><use xlink:href="#akQfjxQes" opacity="1" fill="#ffffff" fill-opacity="1"></use></g><g><use xlink:href="#bdSrwE5pk" opacity="1" fill="#ffffff" fill-opacity="1"></use></g></g></svg>
    pnpm
  </label>

  <div class="basis-full h-0"></div>

  <div class=" hidden peer-checked/tab-npm:block w-full">
    <CodeBox code={getInstallCommand(packageNames, "npm")} lang="bash" class="rounded-lg rounded-tl-none" />
  </div>
  <div class=" hidden peer-checked/tab-yarn:block w-full">
    <CodeBox code={getInstallCommand(packageNames, "yarn")} lang="bash" class="rounded-lg rounded-tl-none" />
  </div>
  <div class=" hidden peer-checked/tab-pnpm:block w-full">
    <CodeBox code={getInstallCommand(packageNames, "pnpm")} lang="bash" class="rounded-lg rounded-tl-none" />
  </div>

</section>
