---
import HookIcon from "../icons/HookIcon.astro";
import MoonIcon from "../icons/MoonIcon.astro";
import SunIcon from "../icons/SunIcon.astro";
---

<div class="mx-auto flex w-full max-w-xl items-center justify-between lg:max-w-7xl">
  <div class="flex items-center gap-2 sm:gap-8">
    <div class="flex items-center gap-2">
    <a aria-label="Home" href="/" class="font-bold">React Hooked <HookIcon class="inline-block w-4 h-4 mb-1" /></a>

    <div class="text-sm/6 border-2 border-ctp-peach px-2 rounded-full text-ctp-peach pointer-events-none">
        Beta
      </div>
    </div>
    <a class="text-sm/6 font-medium hover:underline" href="/docs">Docs</a>
  </div>
  <div class="flex items-center gap-4 sm:gap-8">
    <button id="themeToggle" class="text-sm/6 font-medium">
      <SunIcon class="w-6 h-6 dark:hidden" />
      <MoonIcon class="w-6 h-6 hidden dark:block" />
    </button>
  </div>
</div>


  <script>

    const theme = (() => {
      if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
        return localStorage.getItem("theme");
      }
      if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
        return "dark";
      }
      return "light";
    })();

    if (theme === "light") {
      document.documentElement.classList.remove("dark");
    } else {
      document.documentElement.classList.add("dark");
    }

    window.localStorage.setItem("theme", theme ?? "light");

    const handleToggleClick = () => {
      const element = document.documentElement;
      element.classList.toggle("dark");

      const isDark = element.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    };

    const themeToggle = document.getElementById("themeToggle");

    if (themeToggle) {
      themeToggle.addEventListener("click", handleToggleClick);
    }

    document.addEventListener("astro:after-swap", () => {
      if (localStorage.getItem("theme") === "dark")
        document.documentElement.classList.toggle("dark", true);

      const themeToggle = document.getElementById("themeToggle");

      if (themeToggle) {
        themeToggle.addEventListener("click", handleToggleClick);
      }
    });

  </script>
