---
import NavItem from "./NavItem.astro";
import { cn } from "../../utils/cn";

interface Props {
  items: string[];
  selectedPage: string;
}

const { items, selectedPage } = Astro.props;
---

<nav id="nav-list" class="sticky top-16 hidden max-h-[calc(100dvh-theme(spacing.16))] w-48 shrink-0 overflow-y-auto pb-16 pt-12 lg:block">
  <ul role="list">
    <li>
      <a class={ cn( "flex items-center gap-x-3 py-1.5  font-medium hover:underline", selectedPage === "docs" && "text-ctp-blue" ) } href="/docs">Getting started</a>
    </li>
    <li class="mt-6">
      <div class="text-lg font-semibold ">Hooks</div>
      <ul role="list" class="mt-4" >
        {items.map((item: string) => (
          <NavItem text={item} href={`/docs/${item}`} isSelected={item === selectedPage} />
        ))}
      </ul>
    </li>
  </ul>
</nav>

<script>
  document.addEventListener("astro:before-swap", () => {
    sessionStorage.setItem("scrollPosition", document.getElementById("nav-list").scrollTop.toString());
  });

  document.addEventListener("astro:after-swap", () => {
    const scrollPosition = sessionStorage.getItem("scrollPosition");
    if (scrollPosition) {
      document.getElementById("nav-list").scrollTo({
        top: parseInt(scrollPosition, 10),
        behavior: "instant",
      });
      sessionStorage.removeItem("scrollPosition");
    }
  });
</script>
